body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
    background:black;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.head{
    text-align: center;
    font-family: cursive;
    color: greenyellow;
}

.content{
    background-color: red;
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
}
